nav {
    display: inline-block;
}

li {

    display: inline-block;
    margin-right: 16px;
    margin-left: 18px;
    font: size 22px;

    color: blue;

}

.list1 {
    display: inline-block;
    color: red;

}