/* h1 {
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-size: 40px;
}

h2 {
    font-size: 40px;
}


p {

    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
} */

nav {
    display: inline-block;
}

li {

    display: inline-block;
    margin-right: 16px;
    margin-left: 18px;
    font: size 22px;

    color: blue;

}

.list1 {
    display: inline-block;
    color: red;

}

.img2 {
    display: inline-block;
    vertical-align: middle;
    margin: 25px;

}

.banner {

    display: inline-block;
    width: 1170px;
    height: 460px;
    margin-left: 98px;
    margin-bottom: 50px;
}

h2 {
    font-family: "BPG Nino Mtavruli", sans-serif;
    margin-bottom: 32 px;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    display: block;
}

h3 {
    font-size: 23px;
    color: #3d58a6;
    margin-bottom: 17px;
}

.left-card,
.right-card {

    width: 570px;
    height: 225px;
    background-color: rgb(200, 194, 194);
    display: inline-block;
    vertical-align: top;
    padding: 18px 14px 24px 20px;

}

p {
    display: inline-block;
    width: 355px;
    height: 145px;
    font-size: 20px;
    vertical-align: top;
    line-height: 25px;
    line-height: 130%;
    font-family: 'Oswald', sans-serif;
}

img {
    margin-right: 60px;
    vertical-align: top;
}


.cards {
    margin-top: 32px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}